<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">applogs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="WARN" additivity="false"/>
        <Logger name="org.apache" level="WARN" additivity="false"/>
        <Logger name="org.hibernate" level="WARN" additivity="false"/>
        <Root level="${env:loglevel}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>